/* ==========================================================================
	Media
============================================================================= */

.alignright {
	display: block;
	margin: 1em 0;
	
	@include bp-l {
		margin: 1em 0 1em 2em;
		float: right;
	}
}

.alignleft {
	display: block;
	margin: 1em 0;
	
	@include bp-l {
		margin: 1em 2em 1em 0;
		float: left;
	}
}