@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic);

/*
Font weights set as variables because sometimes there are multiple weights,
so an example use might also be a variable of $mid-weight: 500;
If you've just got normal and bold, you don't need the variable.
*/
$normal: normal;
$bold: bold;

$serif: "Merriweather", Georgia, serif;
$sans-serif: 'Montserrat', Helvetica, Arial, sans-serif;

html {
    font-size: 100%;
}

body {
    @include font-size(1,1.5);
    font-family: $serif;
    color: $darkgray;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	@include font-size(1.5, 1.75);
	font-family: $sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}
	h1 { @include font-size(2.875, 1); }
    h2 { @include font-size(2.375, 1); }
    h3 {}
    h4 {}
    h5 {}
    h6 {}

p {

	}

a {
	@include hover-fade;
	text-decoration: none;

	&:hover,
    &:active {
        outline: 0;
		}
	}

a:focus {
    outline: thin dotted;
    }

strong, b {
	font-weight: $bold;
	}

.small {
	@include font-size(.75, 1.25);
	}

pre, code {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
	}

blockquote {

    cite {

        }
    }
