/* ==========================================================================
	Header
============================================================================= */	

header {
	@extend %clearfix;
	position: relative;
	background: #f5f5f5 url('../img/bg_bride-groom.jpg') center top no-repeat;
	background-size: cover;
	
	a {
		text-transform: uppercase;
		color: #fff;
	}
	
	&.banner-1 {
		background-image: url('../img/bg_bride-groom.jpg');
	}
	
	&.banner-2 {
		background-image: url('../img/bg_girl-dancing.jpg');
	}
	
	&.banner-3 {
		background-image: url('../img/bg_staff.jpg');
	}
}

/* Access Nav ---------------------------------- */

.access-nav {
	display: none;
	@extend %clearfix;
	
	@include bp-l {
		display: block;
		padding: .5em 0;
		background: #000;
		background: rgba(0, 0, 0, .54);
		border-bottom: 1px solid rgba(255, 255, 255, .2);		
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		@include bp-m {
			float: right;
		}
	}
	
	li {
		display: inline-block;
		
		&:first-child a {
			padding: 0 1em;
			border-right: 1px solid $white;			
		}
	}
	
	a {
		padding-left: 1em;
		@include font-size(.625);
		font-family: $sans-serif;
		font-weight: 700;
		letter-spacing: 1px;
	}
}

/* Main Header Section ------------------------- */

.header-main {
	@extend %clearfix;
	padding: 1em;
	
	@include bp-l {
		padding: 1em 0;
	}	

	button {
		position: absolute;
		top: 1.75em;
		right: 1em;
		padding: 0;
		@include font-size(1.5);
		border: none;
		outline: none;
		z-index: 3;
		
		@include bp-l {
			display: none;
		}
	}
}

.logo { 
	float: left; 
	
	img {
		width: 200px;
	}
}

/* Navigation ---------------------------------- */

.main-menu {
	display: none;
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
	padding-top: 3.5em;
	background: #231f1e;
	
	@include bp-l {
		display: block;
		position: static;
		float: right;
		margin: 1.25em 0 0;
		padding-top: 0;
		width: 70%;
		border: none;
		background: transparent;
	}
}

nav {
	font-family: $sans-serif;
	text-transform: uppercase;
	
	@include bp-l {
		float: right;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		display: block;
		text-align: center;
		background: rgba(61,53,52,0.95);
		
		@include bp-l {
			float: left;
			position: relative;
			background: transparent;
			
			&.menu-item-has-children {
				
				&:hover {
				
					.sub-menu {
						display: block;
						width: 150%;
					
						a {
							text-align: left;
							color: $white;
						
							&:hover {
								color: #836777;
							}
						}
					}
				
					a {
						color: #836777;
						background: #201c1b;
					}
				}
			}
		}
	}
	
	a {
		display: block;
		padding: 1em 0;
		color: $white;
		@include font-size(.875);
		
		@include bp-l {
			padding: 1em;
			transition: none;
			
			&:hover {
				color: #B69AAA;
			}
		}
	}
	
	.social-link {
		width: 25%;
		float: left;
		
		@include bp-l {
			width: auto;
			float: right;
			clear: left;
		}
		
		@include bp-xl {
			float: left;
			clear: none;
		}
		
		a {
			display: block;
			color: #7b7978;
			background: #231f1e;
			@include font-size(1);
			
			@include bp-l {
				padding: 10px 16px;
				color: #98979a;
				background: transparent;
			}
			
			&.twitter { 
			
				&:hover {
					color: #82cada;
				}
			}
			
			&.facebook { 
			
				&:hover {
					color: #4068a4;
				}
			}
			
			&.youtube { 
			
				&:hover {
					color: #d6b366;
				}
			}
			
			&.instagram { 
			
				&:hover {
					color: #a42e3c;
				}
			}

		}
	}
	
	.sub-menu {
		display: none;
		background: #231f1e;
		
		@include bp-l {
			position: absolute;
			background: #201c1b;
		}
	}
}

/* Social Media Menu ------------------------------ */

header .social {
	@extend %clearfix;
	margin: 0;
	padding: 1em 0;
	list-style: none;
	background: #231f1e;
	
	@include bp-l {
		float: right;
		background: transparent;		
	}
	
	li {
		float: left;
		width: 25%;
		
		@include bp-l {
			width: auto;
			margin-left: 1em;
		}
		
		a {
			display: block;
			text-align: center;
			color: #7b7978;
			@include font-size(1.25);
			
			@include bp-l {
				color: rgba(255, 255, 255, .45);
				line-height: 1em;
			}
		}
	}
}

/* Banner Heading --------------------------------- */

.page-heading {
	@extend %clearfix;
	margin: 3em 1em 8em;
	color: $white;
	text-align: center;
	
	h1 {
		margin-bottom: 0;
		@include font-size(1.5);
		line-height: 1em;
		letter-spacing: 5px;
	
		@include bp-l {
			@include font-size(4.3125);
			line-height: 1.25em;
			letter-spacing: 10px;			
		}
		
		@include bp-xxl {
			letter-spacing: 25px;
		}
	}
	
	h2 {
		margin: 0;
		@include font-size(.875);
		letter-spacing: 1px;
		
		@include bp-l {
			@include font-size(1.5);
			letter-spacing: 5px;
		}
		
		@include bp-xl {
			@include font-size(2);
		}
		
		@include bp-xxl {
			letter-spacing: 10px;
		}
	}
}