/* ==========================================================================
	Home Page
============================================================================= */

/* Header Banner ------------------------------ */

.service-links {
	position: relative;
	margin: 1em 0 0;
	padding: 2em 0 1em;
	list-style: none;
	
	@include bp-l {
		margin: 1em 0;
		padding: 2em 0;
	}
	
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -50px;
		width: 100px;
		height: 6px;
		background: url('../img/bg_border-gray.png') repeat-x;
	}
	
	li {
		position: relative;
		display: block;
		margin: .5em 1em;
		
		@include bp-l {
			display: inline-block;
			
			&::after {
				content: "\2022";
				position: absolute;
				top: 1em;
				right: -2.5em;
				margin: 0 1em;
			}
			
			&:last-child {
				
				&::after {
					content: "";
				}
			}
		}
		
		@include bp-xl {
			
			&::after {
				top: 1.5em;
			}
		}
		
		a {
			display: block;
			width: 100%;
			padding: 1em;
			text-decoration: none;
			font-weight: 400;
			font-family: $sans-serif;
			background: rgba(0, 0, 0, .2);
			
			@include bp-l {
				background: transparent;
				@include font-size(1);
				letter-spacing: 3px;
			
				&:hover {
					color: $gold;
					text-decoration: underline;
				}					
			}
			
			@include bp-xl {
				@include font-size(1.25);
			}
		}
	}
}

/* Home Blocks -------------------------------- */

.home-block {
	
	.content {
		padding: 2em;
		
		@include bp-xl {
			padding: 2em 2em 0;
		}
		
		@include bp-xxl {
			padding: 3em 3em 1.75em;
		}
	}
	
	h1 {
		position: relative;
		margin: 0 0 1.5em;
		@include font-size(2);
		color: $gold;
		letter-spacing: 3px;
		
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -.75em;
			width: 100px;
			height: 6px;
			background: url('../img/bg_border-gray.png') repeat-x;
		}
	}
	
	.intro {
		@include font-size(1);
		font-family: $sans-serif;
		color: $lightpurple;
		
		@include bp-xxl {
			@include font-size(1.25);
		}
	}
	
	p {
		@include font-size(.75);
		line-height: 1.75em;
		text-align: justify;
		
		@include bp-xxl {
			@include font-size(.875);
			line-height: 2em;
		}
	}
	
	.button {
		color: $darkgray;
	}
}

.subtitle {
	@include font-size(1.25);
	color: $gold;
	text-transform: uppercase;
	font-family: $sans-serif;
	letter-spacing: 2px;
}

/* About ----------------------------------------- */

.about {
	@extend %clearfix;
	
	img {
		width: 100%;
		
		@include bp-xl {
			float: right;
			width: 50%;
		}
	}
	
	.content {
		
		@include bp-xl {
			float: right;
			width: 50%;
		}
	}
	
	.signature {
		display: block;
		@extend %ir;
		width: 200px;
		height: 54px;
		background: url('../img/morse-signature.png') no-repeat;
	}
}

/* Services --------------------------------------- */

.services {
	@extend %clearfix;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		position: relative;
		padding: 6em 3em 3em;
		text-align: center;
		color: $white;
		background-size: cover;
		background-repeat: no-repeat;
		
		@include bp-xl {
			width: 33.3%;
			float: left;
		}
		
		&:first-child {
			background-image: url('../img/bg_svc-wedding.jpg');
		}
		
		&:nth-child(2) {
			background-image: url('../img/bg_svc-private.jpg');			
		}
		
		&:last-child {
			background-image: url('../img/bg_svc-corporate.jpg');			
		}
		
		.icon {
			position: absolute;
			top: 4em;
			left: 50%;
			margin-left: -40px;
			width: 80px;
		}
		
		&:nth-child(2) {
			
			.icon {
				top: 2.5em;
			}
		}
		
		h2 {
			position: relative;
			@include font-size(1.375);
			
			@include bp-xxl {
				@include font-size(1.75);				
			}
			
			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -.5em;
				left: 50%;
				margin-left: -50px;
				width: 100px;
				height: 6px;
				background: url('../img/bg_border-gray.png') repeat-x;				
			}
		}
	}
}

/* Testimonials ------------------------------------ */

.testimonials {
	margin: 0;
	padding: 6em 1em 16em;
	text-align: center;
	background: url('../img/bg_testimonials.jpg') center bottom;
	background-repeat: repeat-x;
	
	h1 {
		position: relative;
		margin-top: 0;
		padding-bottom: .5em;
		@include font-size(1.5);
		
		@include bp-l {
			padding-bottom: 0;
			@include font-size(2.75);
		}
		
		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -.5em;
			left: 50%;
			margin-left: -50px;
			width: 100px;
			height: 6px;
			background: url('../img/bg_border-gray.png') repeat-x;				
		}
	}
	
	blockquote {
		max-width: 80%;
		margin: 0 auto;
	}
	
	cite {
		display: block;
		font-family: $sans-serif;
		@include font-size(1.125);
		font-style: normal;
		
		&::before {
			content: "\007E";
			margin-right: 3px;
		}
		
		&::after {
			content: "\007E";
			margin-left: 3px;
		}
	}
	
	.flex-direction-nav {
		display: none;
		
		@include bp-l {
			display: block;
		}
	}
}


/* Actions ------------------------------------------ */

.actions {
	@extend %clearfix;
	
	img {
		
		@include bp-l {
			float: left;
		}
	}
	
	.content {
		
		@include bp-xl {
			float: left;
			width: 50%;
		}
	}
	
	.video {
		position: relative;
		width: 100%;
		float: left;
		
		@include bp-xl {
			float: left;
			width: 50%;
		}
		
		img {
			width: 100%;
		}
		
		.play {
			display: block;
			width: 120px;
			height: 120px;
			margin: auto;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			text-align: center;
			
			@include bp-l {
				width: 200px;
				height: 200px;
			}
			
			img {
				display: inline-block;
				float: none;
				width: 80px;
				height: 80px;
				margin: 1em 0;
				
				@include bp-l {
					width: auto;
					height: auto;
				}
			}
			
			a {
				color: $white;
				font-family: $sans-serif;
				text-transform: uppercase;
				@include font-size(.75);
				
				@include bp-l {
					@include font-size(1);
				}
			}
		}
	}
}

/* Staff --------------------------------------------- */

.feature-block {
	padding: 2em;
	text-align: center;
	color: $white;
	background: url('../img/bg_staff-home.jpg');
	
	@include bp-l {
		padding: 5em 2em;
	}
	
	h1 {
		margin-top: 0;
		color: $white;
		@include font-size(1.375);
		
		@include bp-xl {
			@include font-size(2.5);
		}
	}
	
	.subtitle {
		@include font-size(.875);
		
		@include bp-xl {
			@include font-size(1.5);
		}
	}
	
	p {
		@include font-size(.75);
		
		@include bp-xl {
			@include font-size(1);
			max-width: 80%;
			margin: 0 auto 2em;			
		}
	}
}

/* Party Started --------------------------------- */

.party {
	padding: 1em;
	text-align: center;
	background: url('../img/bg_tan.jpg');
}