/* ==========================================================================
	Staff
============================================================================= */	

/* Staff Archive ----------------------------------  */

.staff-list {
	@extend %clearfix;
	margin: 3em 0;
	padding: 0;
	list-style: none;
	
	li {
		display: block;
		text-align: center;
		margin-bottom: 2em;
		
		@include bp-m {
			width: 50%;
			float: left;
		}
		
		@include bp-l {
			width: 25%;
		}
	}
	
	img {
		border-radius: 50%;
	}
	
	h2 {
		margin: 1em 0;
		@include font-size(1);
		
		a {
			color: $darkgray;
			text-decoration: none;
			
			&:hover {
				color: $pink;
			}
		}
		
		span  {
			display: block;
			margin: 1em 0;
		}
	}
} // end .staff

/* Single Staff -------------------------------------- */

.single-staff {
	
	.page-heading {
		
		h2 {
			color: $gold;
			@include font-size(1.5);
			letter-spacing: 0;
		}
	}
	
	.profile-img {
		position: absolute;
		top: -100px;
		left: 50%;
		margin-left: -100px;
		
		img {
			border-radius: 50%;
		}
	}
	
	.quote {
		
		.button {
			position: relative;
			margin: 3em 0 1em;
			color: $darkgray;
			text-decoration: none;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -2.5em;
				left: 50%;
				margin-left: -50px;
				width: 100px;
				height: 6px;
				background: url('../img/bg_border-gray.png') repeat-x;
			}
		}
		
		h2 {
			@include font-size(1.5);
			line-height: 1em;
			
			@include bp-l {
				@include font-size(2.375);
				margin-bottom: .5em;
			}
		}
	}
	
	.primary-content {
		position: relative;
	}
	
	.navigation {
		display: none;
		list-style: none;
		
		@include bp-l {
			display: block;
		}
		
		li {
			position: absolute;
			
			a {
				text-decoration: none;
				color: $darkgray;
				text-transform: uppercase;
				font-family: $sans-serif;
			}
		}
		
		.older {
			top: 3em;
			left: 3em;
		}
		
		.newer {
			top: 3em;
			right: 3em;
		}
	}
	
} // end .single-staff
