/* ==========================================================================
	Staff
============================================================================= */	

/* Staff Archive ----------------------------------  */

.staff-list {
	@extend %clearfix;
	margin: 0;
	padding: 0;
	list-style: none;
	
	li {
		display: block;
		text-align: center;
		
		@include bp-m {
			width: 50%;
			float: left;
		}
		
		@include bp-l {
			width: 25%;
		}
	}
	
	img {
		border-radius: 50%;
	}
	
	h2 {
		margin: 1em 0;
		@include font-size(1);
		
		a {
			color: $darkgray;
			text-decoration: none;
			
			&:hover {
				color: $pink;
			}
		}
		
		span  {
			display: block;
			margin: 1em 0;
		}
	}
} // end .staff

/* Single Staff -------------------------------------- */

.single-staff {
	
	.profile-img {
		position: absolute;
		top: -100px;
		left: 50%;
		margin-left: -100px;
		
		img {
			border-radius: 50%;
		}
	}
	
	.primary-content {
		position: relative;
	}
	
	.navigation {
		list-style: none;
		
		li {
			position: absolute;
			
			a {
				text-decoration: none;
			}
		}
		
		.older {
			top: 1em;
			left: 1em;
		}
		
		.newer {
			top: 1em;
			right: 1em;
		}
	}
	
} // end .single-staff
