/* ==========================================================================
	Staff
============================================================================= */	

/* Staff Archive ----------------------------------  */

.staff-list {
	@extend %clearfix;
	margin: 0;
	padding: 0;
	list-style: none;
	background: url('../img/bg_white-texture.jpg');
	
	@include bp-xl {
		padding: 3em 3.5em 0;
	}

	li {
		display: block;
		text-align: center;
		margin-bottom: 2em;
		
		@include bp-m {
			width: 50%;
			float: left;
		}
		
		@include bp-l {
			width: 25%;
		}
	}
	
	img {
		width: 200px;
		height: 200px;
		border-radius: 50%;
	}
	
	h2 {
		margin: 1em 0;
		@include font-size(1);
		
		a {
			color: $darkgray;
			text-decoration: none;
			outline: none;
			
			&:hover {
				color: $gold;
				text-decoration: underline;
				filter: brightness(75%);
			}
		}
		
		span  {
			display: block;
			margin: 1em 0;
		}
	}
} // end .staff

/* Single Staff -------------------------------------- */

.single-staff {
	
	.page-heading {
		
		h2 {
			color: $gold;
			@include font-size(1.125);
			letter-spacing: 0;
			
			@include bp-l {
				@include font-size(1.5);
			}
		}
	}
	
	.profile-img {
		position: absolute;
		top: -125px;
		left: 50%;
		margin-left: -125px;
		
		img {
			width: 250px;
			height: 250px;
			border-radius: 50%;
		}
	}
	
	.quote {
		padding-top: 8em;
		
		.button {
			position: relative;
			margin: 3em 0 1em;
			color: $darkgray;
			text-decoration: none;

			&::after {
				content: "";
				display: block;
				position: absolute;
				bottom: -2.5em;
				left: 50%;
				margin-left: -50px;
				width: 100px;
				height: 6px;
				background: url('../img/bg_border-gray.png') repeat-x;
			}
		}
		
		h2 {
			@include font-size(1.5);
			line-height: 1em;
			
			@include bp-l {
				@include font-size(2.375);
				margin-bottom: .5em;
			}
		}
	}
	
	.primary-content {
		position: relative;
	}
	
	.navigation {
		display: none;
		list-style: none;
		
		@include bp-l {
			display: block;
		}
		
		li {
			position: absolute;
			
			a {
				text-decoration: none;
				color: $darkgray;
				text-transform: uppercase;
				font-family: $sans-serif;
				transition: none;
			}
			
			&:hover {
				
				a {
					color: #7b98ac;
					text-decoration: underline;
				}
			}
		}
		
		.older {
			top: 3em;
			left: 3em;
			
			a::before {
				content: "";
				display: inline-block;
				position: relative;
				top: 2px;
				width: 7px;
				height: 15px;
				margin-right: 1em;
				background: url('../img/i_arrow-left-small.png');
			}
			
			&:hover {
				
				a::before {
					background-image: url('../img/i_arrow-left-small-blue.png');
				}
			}
		}
		
		.newer {
			top: 3em;
			right: 3em;

			a::after {
				content: "";
				display: inline-block;
				position: relative;
				top: 2px;
				width: 7px;
				height: 15px;
				margin-left: 1em;
				background: url('../img/i_arrow-right-small.png');
			}

			&:hover {
				
				a::after {
					background-image: url('../img/i_arrow-right-small-blue.png');
				}
			}
		}
	}
	
} // end .single-staff
